<div class="road-line-data">
    <ng-container *ngIf="turnDirection === 'LEFT'">
        <input type="number" class="input" placeholder="Left" [(ngModel)]="vehicleToAddCount"/>
        <button (click)="addVehicles()">Add vehicles</button>
        <img src="/leftArrow.svg" alt="Left Arrow" class="arrow"/>
    </ng-container>
    <ng-container *ngIf="turnDirection === 'RIGHT' || turnDirection === 'STRAIGHT'">
        <input type="number" class="input" [placeholder]="turnDirection" [(ngModel)]="vehicleToAddCount"/>
        <button (click)="addVehicles()">Add vehicles</button>
        <img src="/straightRightArrow.svg" alt="Arrow" class="arrow"/>
    </ng-container>

    <div class="counter">
        Vehicles: <span>{{ getLaneVehicleCount(compassDirection, turnDirection) }}</span>
    </div>

    <img
            [src]="getLaneLight(compassDirection, turnDirection) === 'GREEN' ? '/greenLight.svg' : '/redLight.svg'"
            [alt]="getLaneLight(compassDirection, turnDirection)"
            [class]="getLaneLight(compassDirection, turnDirection) === 'GREEN' ? 'greenLight' : 'redLight'"
    />
</div>
